<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FontSize" value="12"/>
		<add key="UseDarkMode" value="true"/>
		<add key="AccentColor" value="orange"/>
		<add key="Timeout" value="300"/>
		<add key="Limit" value="100000"/>
		<add key="UseTranslucentWindow" value="true"/>
		<add key="TranslucentOpacity" value="75"/>
		<add key="UIScaling" value="1"/>
		<add key="UseSessionStore" value="false"/>
		<add key="MaxBackupCount" value="-1"/>
		<add key="MaxLogSize" value="-1"/>
		<add key="ShowExtendedDatabaseInformation" value="false"/>
		<add key="OpenQueryOnServerAdded" value="true"/>
	</appSettings>
</configuration>